<ul id="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %> [<%= link_to 'edit', edit_user_path(user) %>]
    </li>
  <% end %>
  <%= no_records_check(@users, "Users") %>
</ul>

<p>
  <%= link_to "Add User", new_user_path, class: "button" %>
</p>