<div id="header">
	<% unless flash.empty? %>
	  <div id="flash">
	    <% flash.each do |name, msg| %>
	      <div class="<%= name %>"><%= msg %></div>
	    <% end %>
	  </div>
	<% end %>
</div>

<div id="page-content">
	<%= yield %>
</div>