<nav>
  <a id="navAbout" href="/about">about</a>
  <a id="navPortfolio" href="/portfolio">portfolio</a>
  <a id="navProjects" href="/projects">projects</a>
  <a id="navBlog" href="/blog">blog</a>
  <a id="navContact" href="/contact">contact</a>
</nav>