/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

* {
  padding: 0;
  margin: 0;
  font-weight: normal;
  border: none;
}

*::selection, *::-moz-selection {
  text-shadow: none;
  background: #EFF374;
}

body {
  background: #ccc;
  color: #000;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  min-width: 320px;
}

a {
  color: inherit;
}

#flash div {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  width: 260px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  text-align: center;
}

#flash .alert {
  background: #c82829;
  background: -moz-linear-gradient(top, #c82829 0%, #ae2324 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c82829), color-stop(100%, #ae2324));
  background: -webkit-linear-gradient(top, #c82829 0%, #ae2324 100%);
  background: -o-linear-gradient(top, #c82829 0%, #ae2324 100%);
  background: -ms-linear-gradient(top, #c82829 0%, #ae2324 100%);
  background: linear-gradient(top, #c82829 0%, #ae2324 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c82829', endColorstr='#ae2324',GradientType=0 );
}

#flash .notice {
  background: #eab700;
  background: -moz-linear-gradient(top, #eab700 0%, #cb9f00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eab700), color-stop(100%, #cb9f00));
  background: -webkit-linear-gradient(top, #eab700 0%, #cb9f00 100%);
  background: -o-linear-gradient(top, #eab700 0%, #cb9f00 100%);
  background: -ms-linear-gradient(top, #eab700 0%, #cb9f00 100%);
  background: linear-gradient(top, #eab700 0%, #cb9f00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab700', endColorstr='#cb9f00',GradientType=0 );
}

nav#mainNav {
  background: #000;
  color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

nav#mainNav a {
  font-size: .7em;
  display: inline-block;
  padding: .8em;
  border-right: 1px solid #474747;
  text-decoration: none;
}

nav#mainNav a:hover {
  background: #444;
}