// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "sass_vars.css.scss";

$padding: 1em 3em;

article.post {
  margin-bottom: 1em;
  padding: $padding;
  background: #EDEDED;
  position: relative;
  
  $top: #444;
  border: {
    top: 1px solid $top;
    bottom: 1px solid lighten($top, 20%);
  }
  h2 {
    margin: {
      bottom: .1em;
    }
    text-shadow: -1px -1px 0 #fff;
    font-size: 48px;
  }
  
  .meta {
    font-size: 15px;
    color: #939393;
    text-decoration: italic;
  }
  
  .edit a {
    @include button;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
  }
  
  .post-content {
    margin-top: 3em;
    font: 16px/23px sans-serif;
  }
}

a.new_post {
  @include button;
  margin: $padding;
  &:active {
    @include buttonActive;
  }
}