// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// <% # TODO Move flash block to application.css
//# TODO Change flash code to be able to respond to different types of messages based on class %>

$iPhoneWidth: 320px;
$iPhoneHeight: 480px;
$borderRad: 5px;

@mixin vGradient($top, $bottom) {
  background: $top;
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
  background: -webkit-linear-gradient(top, $top 0%,$bottom 100%);
  background: -o-linear-gradient(top, $top 0%,$bottom 100%);
  background: -ms-linear-gradient(top, $top 0%,$bottom 100%);
  background: linear-gradient(top, $top 0%,$bottom 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$bottom',GradientType=0 );
}

@mixin roundedCorners {
  -webkit-border-radius: $borderRad;
  -moz-border-radius: $borderRad;
  border-radius: $borderRad;
}

@mixin button {
  $top: #eee;
  $bottom: darken($top, 10%);
  @include vGradient($top, $bottom);
  
  display: inline-block;
  padding: .2em 1.1em;
  color: #000 !important;
  text-align: center;
  border: 1px solid #888;
  -webkit-border-radius: $borderRad;
  -moz-border-radius: $borderRad;
  border-radius: $borderRad;
}

@mixin buttonActive {
  $top: #ddd;
  $bottom: lighten($top, 10%);
  @include vGradient($top, $bottom);
}

@mixin boxShadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

body {
//  background: #CCC;
  color: #000;
  font: {
    size: 20px;
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

//#flash {
//  div {
//    $padding: 20px;
//    @include boxShadow;
//
//    width: 320px - $padding * 2 - 20px;
//    margin: 0 auto;
//    padding: $padding;
//    color: #fff;
//    text-align: center;
//  }
//  
//  .alert {
//    $topColor: #c82829;
//    $bottomColor: darken($topColor, 6%); //ae2324 from a90329
//    @include vGradient($topColor, $bottomColor);
//  }
//  
//  .notice {
//    $topColor: #eab700;
//    $bottomColor: darken($topColor, 6%);
//    @include vGradient($topColor, $bottomColor);
//  }
//}

form {
  width: $iPhoneWidth;
  margin: 0px auto;
  background: rgba(0, 0, 0, 0.3);
  padding-top: 50px;
}

fieldset {
  $padding: 10px;
  padding: $padding;
  
  legend {
    @include roundedCorners;
    
    display: block;
    width: $iPhoneWidth - 40px;
    text-align: center;
    padding: .5em;
    text-shadow: 1px 1px 0 #ddd;
    font-weight: bold;
    background: rgba(204,204,204,0.8);
    box-shadow:inset 0 0 5px #000;
    border: 1px solid #555;
  }
  
  p {
    @include boxShadow;
    margin-bottom:10px;
    border-radius: $borderRad;
    
    label, input {
      display: block;
      padding: 5px;
      width: $iPhoneWidth - $padding * 2 - 10px;
      font: {
        size: 20px;
        family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        weight: bold;
      }
    }
    label {
      $bgColor: #CFCFCF;
      background: $bgColor;
      color: #333;
      text-shadow:1px 1px 0px #999;
      border-bottom: 1px solid darken($bgColor, 20%);
      border-top-right-radius: $borderRad;
      border-top-left-radius: $borderRad;
    }
    label~input { // inputs after a label
//      color: #fff;
      background: #eee;
      border-bottom-right-radius: $borderRad;
      border-bottom-left-radius: $borderRad;
    }
    input[type="submit"] {
      @include button;
      width: $iPhoneWidth - $padding * 2;
      border-radius: $borderRad;
    }
    input[type="submit"]:active {
      @include buttonActive;
    }
  }
}