// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "sass_vars.css.scss";

form {
  width: $iPhoneWidth;
//  margin: 0px auto;
//  background: rgba(0, 0, 0, 0.3);
  padding: 20px 10px;
}

fieldset {
  $padding: 10px;
  padding: $padding;
  
  legend {
    @include roundedCorners;
    
    display: block;
    width: $iPhoneWidth - (40px + 0px); // 2 extra pixels because of the border
    text-align: center;
    padding: .5em;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.9);
    box-shadow:inset 0 0 5px #fff;
    border: 1px solid #535353;
//    color: #fff;
  } // legend
  
  ol {
    list-style-type: none;
    
    li {
      margin-bottom:10px;
      border-radius: $borderRad;
      width: default;
      border: 1px solid #999;

      label, input, textarea {
        display: block;
        padding: 5px;
        font: {
          size: 20px;
          family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          weight: bold;
        }
      }
      label {
        $bgColor: #CFCFCF;
        background: $bgColor;
        color: #333;
        text-shadow:1px 1px 0px #999;
        border-bottom: 1px solid darken($bgColor, 20%);
        border-top-right-radius: $borderRad;
        border-top-left-radius: $borderRad;
      }
      
      label~input {
        // inputs after a label
        width: $iPhoneWidth - $padding * 2 - 10px;
        background: #eee;
        border-bottom-right-radius: $borderRad;
        border-bottom-left-radius: $borderRad;
      }
      textarea {
        width: $iPhoneWidth - $padding * 2 - 10px;
        height: 100%;
        font: {
          size: 14px;
          weight: normal;
        }
        border-radius: $borderRad;
      }
      input[type="submit"] {
        width: $iPhoneWidth - $padding * 2 + 2; // + 2 for lack of horizonal border
      }
    } // li

    .forgot_password {
      text-align: left;
      font-size: .6em;
      color: #666;
    }
  } // ol
} // fieldset

fieldset.final ol li {
  box-shadow: none;
  border: none;
} // no shadow on the last element of a form, likey a submit button